<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Oto Zakalashvil, BitCamp">
    
    <link rel="apple-touch-icon" sizes="57x57" href="{{ base_path ~ directory }}/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ base_path ~ directory }}/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ base_path ~ directory }}/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ base_path ~ directory }}/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ base_path ~ directory }}/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ base_path ~ directory }}/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ base_path ~ directory }}/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ base_path ~ directory }}/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ base_path ~ directory }}/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ base_path ~ directory }}/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ base_path ~ directory }}/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ base_path ~ directory }}/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ base_path ~ directory }}/images/favicon-16x16.png">
    <link rel="manifest" href="{{ base_path ~ directory }}/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ base_path ~ directory }}/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:url" content="https://www.bitcamp.ge">
    <meta property="og:title" content="BitCamp - рЃњрЃўрЃюрЃЊрЃљ рЃўрЃАрЃгрЃљрЃЋрЃџрЃЮ рЃърЃарЃЮрЃњрЃарЃљрЃЏрЃўрЃарЃћрЃЉрЃљ?">
    <meta property="og:description" content="рЃърЃарЃЮрЃњрЃарЃљрЃЏрЃўрЃарЃћрЃЉрЃўрЃАрЃљ рЃЊрЃљ рЃЋрЃћрЃЉ-рЃбрЃћрЃЦрЃюрЃЮрЃџрЃЮрЃњрЃўрЃћрЃЉрЃўрЃА
    рЃАрЃљрЃАрЃгрЃљрЃЋрЃџрЃЮ рЃърЃџрЃљрЃЌрЃцрЃЮрЃарЃЏрЃљ">
    <meta property="og:image" content="{{ base_path ~ directory }}/images/Logo-Dark-BK.jpg">

    <title>BitCamp - рЃЋрЃћрЃЉ-рЃърЃарЃЮрЃњрЃарЃљрЃЏрЃўрЃарЃћрЃЉрЃўрЃА рЃАрЃљрЃАрЃгрЃљрЃЋрЃџрЃЮ рЃърЃџрЃљрЃЌрЃцрЃЮрЃарЃЏрЃљ</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">



    <style>
      .front-static .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
       .front-static .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ base_path ~ directory }}/assets/css/cover.css" rel="stylesheet">
  </head>
  <body class="front-static text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">­ЪћЦ BitCamp.ge</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" target="_blank"
          href="https://start.bitcamp.ge">рЃЊрЃљрЃгрЃДрЃћрЃЉрЃљ</a>
        <a class="nav-link" target="_blank"
          href="https://www.facebook.com/groups/3969683209738650/">FB рЃ»рЃњрЃБрЃцрЃў</a>
        <a class="nav-link" target="_blank"
          href="https://www.facebook.com/bitcamp.ge">FB рЃњрЃЋрЃћрЃарЃЊрЃў</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <a href="/user/simple-fb-connect">
      <img class="cover-heading" src="{{ base_path ~ directory }}/images/fb.png" style="
        border-radius: 8px;
        max-height: 56px;
        margin-top: 50px;
        margin-bottom: 50px;
        width: auto;">
    </a>

    <img class="cover-heading" src="{{ base_path ~ directory }}/images/Group-Cover.jpg"/>
    <p class="lead">рЃърЃарЃЮрЃњрЃарЃљрЃЏрЃўрЃарЃћрЃЉрЃўрЃАрЃљ рЃЊрЃљ рЃЋрЃћрЃЉ-рЃбрЃћрЃЦрЃюрЃЮрЃџрЃЮрЃњрЃўрЃћрЃЉрЃўрЃА рЃАрЃљрЃАрЃгрЃљрЃЋрЃџрЃЮ рЃърЃџрЃљрЃЌрЃцрЃЮрЃарЃЏрЃљ</p>
    <p class="lead">
      <a href="https://www.facebook.com/groups/3969683209738650/" target="_blank" class="btn btn-lg btn-primary mr-1 mt-2">рЃерЃћрЃЏрЃЮрЃњрЃЋрЃўрЃћрЃарЃЌрЃЊрЃў ­ЪћЦ</a>
      <a href="https://link.medium.com/yW9DoE1QS6" target="_blank" class="btn btn-lg btn-secondary mt-2">рЃарЃЮрЃњрЃЮрЃа рЃЏрЃБрЃерЃљрЃЮрЃЉрЃА? ­Ъџђ</a>
    </p>

  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>рЃњрЃљрЃўрЃюрЃбрЃћрЃарЃћрЃАрЃћрЃЉрЃА рЃарЃЮрЃњрЃЮрЃа рЃЏрЃБрЃерЃљрЃЮрЃЉрЃА BitCamp? рЃЕрЃЋрЃћрЃюрЃў рЃцрЃўрЃџрЃЮрЃАрЃЮрЃцрЃўрЃўрЃАрЃљ рЃЊрЃљ рЃАрЃБрЃџрЃўрЃАрЃЎрЃЋрЃћрЃЌрЃћрЃЉрЃўрЃА
      рЃерЃћрЃАрЃљрЃ«рЃћрЃЉ рЃБрЃцрЃарЃЮ рЃЋрЃарЃфрЃљрЃџрЃЊ рЃерЃћрЃњрЃўрЃФрЃџрЃўрЃљ <a target="_blank" href="https://link.medium.com/yW9DoE1QS6">рЃгрЃљрЃўрЃЎрЃўрЃЌрЃ«рЃЮ
        рЃљрЃЦ.</a>
    </div>
  </footer>
</div>
    
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-168888380-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-168888380-1');
</script>

</body>
</html>
